*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



:root {
  --shadow1: -1px 2px 25px 1px rgba(0,0,0,0.2);

}

input{
  border: none;
}

label{
  font-size: small;
}

.container{
  width: 80%;
  margin: auto;
 
}

.dark{
  background-color: rgb(33, 33, 33);
}

.l-dark{
  background-color: rgb(49, 49, 49);
}

.light{
  background-color: rgb(216, 221, 221);
}
.l-light{
  background-color: rgb(255, 255, 255);

}

.dark-color{
color:antiquewhite;
}
.light-color{
color: rgb(33, 33, 33);
}

.btn{
  height: 35px;
  font-weight: 300;
  border: none;
  background-color: rgb(255, 145, 0);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}





         /* HEADER SECTION */

.header{
  z-index: 100;
  height: 75px;
  top: 0px;
  position: sticky;
  width: 1350px;
  box-shadow: var(--shadow1);
}

.h-container{
  display: flex;
  height: 70px;
  justify-content: space-between;
  
}
.logo img{
  width: 150px;
  padding-top: 3px
  
}

/* Search Bar */

.search-bar{
  min-width: 200px;
  display: flex;
  align-items: center;
  height: 35px;
  justify-content: space-between;
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}

.search-bar input{
  border: none;
  
}
.search-input{
  height: 35px;
  width: 300px;
}

.search-icon{
  display: inline;
  padding: 0 5px;

}
.search-icon:hover{
  color:rgb(255, 145, 0) ;
  
}

/* Three Icon */

.main-functions{
  display: flex;
  width: 150px;
  justify-content: end;
 
  align-self: center;
}

.night-mode,.user,.menu-button {
  
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 3px;
  border-radius: 5px;
}

.night-mode:hover,.user:hover,.menu-button:hover{
  background-color: rgb(255, 145, 0);
}

.login-form{
  z-index: 100;
  padding: 10px;
  margin-top: 10px;
  position:absolute;
  border-radius: 5px;
  top: 70px;
  right: 140px;
  animation-name: drop-down;
  animation-duration: 0.3s;
  animation-direction: reverse;
  box-shadow: var(--shadow1);
}



.password{
  margin-top: 10px;
}
.email{
  margin-top: 5px;
}

.email-input,.password-input{
  height: 35px;
  width: 250px;
  border-radius: 5px;
  margin-top: 3px;
}

.checkbox-input{
  margin-right: 5px;
}


.login-btn{
  margin-top: 10px;
  width: 100%;
  margin-bottom: 5px;
}

.menu-box{
  z-index: 100;
  padding: 10px;
  margin-top: 10px;
  position:absolute;
  top: 70px;
  
  right: 140px;
  animation-name: drop-down2;
  animation-duration: 0.3s;
  animation-direction: reverse;
  border-radius: 5px;
  width: 150px;
  box-shadow: var(--shadow1);
}

ul li {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
  padding-bottom: 10px;
}
ul li:hover {
transform: scale(0.99);
color: rgb(255, 145, 0);
}
ul li :first-child{
 
  text-decoration: none;
  font-size: medium;
}

@keyframes drop-down{
  0% {transform: scale(1); top:70px; right: 140px;  }
 
  100% {transform: scale(0.1); top: 0px; right: 0px;  }
}
@keyframes drop-down2{
  0% {transform: scale(1); top:70px; right: 140px;  }
 
  100% {transform: scale(0.1); top: 0px; right: 40px;  }
}




/* HOME SECTION */


.vector{
  min-width: 500px;
  
  background-image: url('./images/vector.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}

.home-btn{
  width: 100px;
}

.home .container{
  width: 1200px;
}

.showcase{
  width: 1100px;
  padding-top: 70px;
  display: flex;
  
  height: 450px;
  
}

.travel-text{
  margin-left: 50px;
  min-width: 500px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.travel-text h1{
  padding-top: 20px;
  font-size: 40px;
  /* background-color: aqua; */
}
.travel-text p{
  padding-top: 20px;
}
.travel-text button{
  margin-top: 20px;
}


.booking-bar{
  margin-top: 100px;
  margin-bottom: 100px;
  
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  height: 100px;
  
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--shadow1);
  width: 1065px;
}

.booking-bar label{
  font-size: medium;
 
}

.where-input,.starting-input,.leaving-input{
  height: 40px;
  width: 250px;
  font-size: medium;
  margin-top: 5px;
  border-radius: 5px;
}

.where-to{
padding-left: 10px;
}

.booking-btn{
  width: 200px;
  margin-right: 5px;
}





                    /* OUR PACKAGE SECTION */

.package-title,.service-title,.pricing-title,.review-title,.contact-title,.blogs-title{
  margin-bottom: 20px;
  text-align: center;
        width: 1100px;
        font-size: 40px;
    }

.packages{
  padding-top: 100px;
  margin-top: 0;
}


.package,.services{
      margin: auto;
      width: 100%;
     text-align: center;
     
     /* background-color: aqua; */
}
                         
   
.package-image img{
  width: 320px;
  padding: 17px;
  padding-bottom: 5px;
  padding-top: 0;
  border-radius: 5px;
}

.package-img{
  border-radius: 5px;
}

.package-image{
  
  box-sizing: border-box;
  
}
                         
     
.package-box{
       
      
       width: 355px;
       box-shadow: var(--shadow1);
       border-radius: 5px;
       
}

.place-name{
  position:relative;
  top: 30px;
  left: 30px;
  border-radius: 1px;
  width: 90px;
  display: flex;
 opacity: 0.8;
}

.package-icon{
  padding: 0;
  margin: 0;
  padding-right: 5px;
}
     
.package-boxes{
       width: 100%;
       text-align: left;
       
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-column-gap: 10px;
       grid-row-gap: 50px
}
    
.package-texes{
       margin: 15px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}
.package-texes p{
       margin-top: 5px;
}
.package-texes button{
       margin-top: 10px;
       margin-bottom: 5px;
}

.package-btn{
  width: 100px;
}
    



/* SERVICE SECTION */
.services{
  padding-top: 100px;
}
.service-texes{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}   
.number-icon{
  margin: 15px;
  display: flex;
  width: 320px;
  justify-content: space-between;
  
} 

.number-icon .number{
  font-size: 40px;
}

.number-icon .icon{
  background-color: rgb(255, 145, 0);
  width: 35px;
  height: 35px;
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.service-box{
       
      
  width: 355px;
  /* height: 150px; */
  box-shadow: var(--shadow1);
  border-radius: 5px;
  
}

.service-box h1{
  font-size: 25px;
}

.service-boxes{
  width: 100%;
  text-align: left;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px
}

/* PRICING SECTION */

.pricing{
  padding-top: 100px;
}
.pricing-boxes{
  width: 100%;
  text-align: left;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px
}

.pricing-texes{
  margin: 15px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.pricing-box{
       
  text-align: center;
  width: 355px;
  height: 400px;
  box-shadow: var(--shadow1);
  border-radius: 5px;
  
}

.plan-title{
  width: 90%;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px;
}


/* REVIEW SECTION */

.review-box{
  padding: 50px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
      
  
  /* height: 150px; */
  
  border-radius: 5px;
  
}

.review-image{
  

 
  box-sizing: content-box;
  margin-bottom: 5px;
}

.review-image img{
  width: 150px;
  border-radius: 50%;
}

.review-boxes{
  width: 100%;
 box-shadow: var(--shadow1);
  

}

.review-star{
  margin-top: 10px;
  color: rgb(255, 145, 0);
}

.review{
  margin: auto;
  width: 1085px;
  text-align: center;
  padding-top: 100px;
 
 /* background-color: aqua; */
}


/* CONTACT SECTION */

.contact{
  width: 1090px;
  margin: auto;
  padding-top: 100px;
}
.contact-form{
  margin: auto;
  width: 800px;
  
  padding: 10px;
  border-radius: 5px;
  
}

.upper-four{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-column: 1/2;
}

.bottom-two{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.cmessage-input{
  
border-radius: 5px;
height: 200px;
margin-bottom: 15px;
box-shadow: var(--shadow1);
}

.contact-btn{
  text-align: center;
  width: 100px;
  margin: auto;
}

.cname-input,.csubject-input,.cemail-input,.cnumber-input{
  height: 40px;
  box-shadow: var(--shadow1);
  border-radius: 5px;
}



/* BLOGS SECTION */


.blog-box{
       
      
  width: 355px;
  box-shadow: var(--shadow1);
  border-radius: 5px;
  
}

.blog-image{
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 5px;
}



.blog-boxes{
  width: 100%;
  text-align: left;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px
}

.blog-texes{
  margin: 15px;
 
}
.blog-texes p{
  margin-top: 5px;
}
.blog-texes button{
  margin-top: 10px;
  margin-bottom: 5px;
}

.blog-btn{
width: 100px;

}

.line{
  margin-top: 10px;
}

.admin-date{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.blogs{
  padding-top: 100px;
  margin-bottom: 40px;
  margin: 0 0px;
  width: 900px;
}


/* FOOTER SECTION */

.footer{
  margin-top: 50px;
  height: 420px;
  width: 1350px;
  box-shadow: var(--shadow1);
}

.footer-line{
  width: 800px;
  margin: auto;
  
}

.footer h5{
  font-size: 20px;
}

.footer .container{
  padding: 20px;
  height: 350px;
 
  display: flex;
  margin: 0 120px;
  width: 1065px;

  justify-content: space-between;
}

.our-brances,.quick-links,.contact-info,.follow-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.owner-intro{
  margin: auto;
  width: 100%;
  margin-top: 5px;
  
  text-align: center;
}
/* SCREEN SIZE MOBILE */

@media screen and (max-width: 1000px) {
  .login-form,.menu-box{

    top: 70px;
    right: 10px;
   
  }

  .header{
    z-index: 100;
    height: 90px;
    
  }
  .h-container{
    display: flex;
    height: 85px;
    justify-content: space-between;
    
  }
  .logo img{
    width: 150px;
    padding-top: 3px
    
  }
}
@media screen and (max-width: 500px) {
  .login-form,.menu-box{

    top: 70px;
    right: 10px;
   
  }
}